{% extends "base.html" %}
{% block content %}
    <header>
        <div>
            <h1>LW2 Comp Math</h1>
            <h2>Дунаев Алексей P3217</h2>
            <h2>Вариант: Метод прямоугольников</h2>
        </div>
    </header>
    <script src="/static/js/lw2.js"></script>
    <div>
    <div id="input-error" style="display: none;">Тут будет текст ошибки</div>
    <form id="input" method="post">
        <div>
            <label>
                Функция:
                <select name="func">
                    {% for func in functions %}
                    <option value="{{ loop.index0 }}">{{ func.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                Модификация:
                <select name="mod">
                    <option value="0">left</option>
                    <option value="1">right</option>
                    <option value="2" selected>middle</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                Нижний предел интегрирования a:
                <input type="number" name="lower_limit" value="{% if lower_limit %}{{ lower_limit }}{% else %}0{% endif %}" step="0.1" required onclick="">
            </label>
        </div>
        <div>
            <label>
                Верхний предел интегрирования b:
                <input type="number" name="upper_limit" value="{% if upper_limit %}{{ upper_limit }}{% else %}5{% endif %}" step="0.1" required onclick="">
            </label>
        </div>
        <div>
            <label>
                Точность ε:
                <input type="number" step="any" id="eps" form="input" name="eps" value="1e-5" required onclick="">
            </label>
        </div>
        <div>
            <input type="submit" value="Вычислить">
        </div>
    </form>

{% endblock %}

{% block output %}
    {% if output %}
        <h4>Функция:</h4>
        $$
        f(x) = {{ output.func.name }}
        $$

        $$
        \int\limits_{ {{ lower_limit }} }^{ {{ upper_limit }} } f(x)\,dx\approx {% if output.mod == 0 %} \sum _{(i=0)}^{(n-1)}f(x_{i})(x_{(i+1)}-x_{i}) {% endif %}
        {% if output.mod == 1 %} \sum _{(i=1)}^{n}f(x_{i})(x_{i}-x_{(i-1)}) {% endif %}
        {% if output.mod == 2 %} \sum _{ {i=0} }^{ {n-1} }f\left({\frac  {x_{i}+x_{ {i+1} }}{2} }\right)(x_{ {i+1} }-x_{i})=\sum _{ {i=1} }^{n}f\left({\frac  {x_{ {i-1} }+x_{i} }{2} }\right)(x_{i}-x_{ {i-1} }) {% endif %}
        = {{ output.result }}
        $$

        $$
        \Delta _{(2n)}\approx \Theta |I_{ {2n} }-I_{(n)}| = {{ output.error }}
        $$

        $$
        \Delta _{(2n)}< {{ output.eps }}
        $$

        <h4>Количество разбиений:</h4>
        $$
        n = {{ output.number_of_breaks }}
        $$
    {% endif %}
{% endblock %}